<div class="navbar">
  <h4>Simple Airbnb</h4>
  <%= link_to 'Add flat', new_flat_path %>
</div>

<div class="container">
  <h1>All our Flats (<%= @flats.count %>)</h1>
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card">
        <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/124/124389423.jpg" alt="">
        <div class="details">
          <h4><%= flat.name %></h4>
          <p><%= flat.address %></p>
          <div class="infos">
            <div id="price">
              <i class="fa fa-euro-sign"></i>
              <p><%= flat.price_per_night %></p>
            </div>
            <div id="guests">
              <i class="fas fa-users"></i>
              <p><%= flat.number_of_guests %></p>
            </div>
          </div>
        </div>
        <div class="links">
           <%= link_to 'More info', flat_path(flat) %>
           <%= link_to 'Edit', edit_flat_path(flat) %>
           <%= link_to 'Remove', flat_path(flat) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
